@using BookStore.Shared.Models

@if (Sale != null)
{
    <span class="badge badge-sale">
        Sale @Sale.Value.Percentage.ToString("0")%
    </span>
}

@code {
    [Parameter] public BookSale? Sale { get; set; }
}
