<nav class="bookstore-nav" aria-label="Primary Navigation">
    <ul class="bookstore-nav-list">
        <li><NavLink href="/" Match="NavLinkMatch.All" class="bookstore-nav-link">Books</NavLink></li>

        <AuthorizeView>
            <Authorized>
                <li><NavLink href="/cart" class="bookstore-nav-link">Cart</NavLink></li>
            </Authorized>
        </AuthorizeView>
    </ul>

    <AuthorizeView Roles="Admin">
        <Authorized>
            <p class="bookstore-nav-section">Admin</p>
            <ul class="bookstore-nav-list">
                <li><NavLink href="/admin/books" class="bookstore-nav-link">Books</NavLink></li>
                <li><NavLink href="/admin/authors" class="bookstore-nav-link">Authors</NavLink></li>
                <li><NavLink href="/admin/publishers" class="bookstore-nav-link">Publishers</NavLink></li>
                <li><NavLink href="/admin/categories" class="bookstore-nav-link">Categories</NavLink></li>
                <li><NavLink href="/admin/users" class="bookstore-nav-link">Users</NavLink></li>
                <li><NavLink href="/admin/sales" class="bookstore-nav-link">Sales</NavLink></li>
            </ul>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Policy="SystemAdmin">
        <Authorized>
            <p class="bookstore-nav-section">System</p>
            <ul class="bookstore-nav-list">
                <li><NavLink href="/admin/tenants" class="bookstore-nav-link">Tenants</NavLink></li>
            </ul>
        </Authorized>
    </AuthorizeView>
</nav>
